node_modules/
dist/
.tmp/
.sass-cache
app/bower_components/
.idea/
api/.idea/
api/project/project/*
api/project/target/resolution-cache/
api/project/target/streams/
api/target/*
api/logs
api/out
*.iml
