<div class="row">
  <div class="header col-lg-10 col-lg-offset-1">
  
  <ul class="nav nav-pills pull-right">
    <li id="imageViewToggleButton"><a ng-click="toggleView()"><span class="glyphicon glyphicon-picture"></span></a></li>
    <li id="scheduleViewToggleButton"><a ng-click="toggleView()"><span class="glyphicon glyphicon-th-list"></span></a></li>
    <li><a ng-href="#"><span class="glyphicon glyphicon-book"></span></a></li>
  </ul>
  
  <div><img src="images/logo.png" alt="logo.png" /></div>
  </div>
</div>

<div class="row">

  <div class="col-lg-4 col-lg-offset-1 well">

    <div>
      <label>Choose Campus</label>
      <select class="form-control" 
        data-ng-model="activeCampus" 
        data-ng-options="c.Description for c in campusObjects.data"
        ng-change="setBuildings(activeCampus)">
      </select>
    </div>

    &nbsp;&nbsp;

    <div data-ng-show="activeCampus.Id">
      <label>Choose Building</label>
      <select class="form-control" 
        data-ng-model="activeBuilding" 
        data-ng-options="b.Description for b in buildingObjects"
        ng-change="setAvailableFloors(activeBuilding)">
      </select>
    </div>

    &nbsp;&nbsp;

    <div data-ng-show="activeBuilding.BuildingCode">
      <label>Choose Floor</label>
      <select class="form-control"
        data-ng-model="activeFloor"
        data-ng-options="f.Description for f in floorObjects.Floors"
        data-ng-change="setImageAndSchedule(activeFloor)">
      </select>
      </select>
    </div>
    
  </div>

  <div id="imageBlock" ng-show="showImageView" class="col-lg-7 center-block">
    <svg width="800" height="650" xmlns="http://www.w3.org/2000/svg">
      <g id="{{activeBuilding.BuildingCode}}-{{activeFloor.Id}}">
        <g  ng-repeat="m in activeFloor.Map">
          <rect class="shape" ng-attr-id="{{m.Shape.Room}}" ng-attr-x="{{m.Shape.X}}" ng-attr-y="{{m.Shape.Y}}" ng-attr-width="{{m.Shape.W}}" ng-attr-height="{{m.Shape.H}}" />
          <text id="{{m.Shape.Room}}-text" x="{{m.Text.X}}" y="{{m.Text.Y}}" font-family="Verdana" font-size="{{m.Text.FontSize}}" text-anchor="start">{{m.Text.Text}}</text>
        </g>
      </g>
    </svg>
  </div>

  <div id="tableBlock" ng-show="showTableView" class="col-lg-7 center-block">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table">
          <tr class="">
            <th>Course</th>
            <th>Description</th>
            <th>Room</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          <tbody>
            <tr ng-repeat="s in scheduleObjects">
              <td>{{s.1}}</td>
              <td>{{s.2}}</td>
              <td>{{s.10}}</td>
              <td>{{s.5}}</td>
              <td>{{s.6}}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
  </div>

</div>

<div class="row">
  <div class="footer"></div>
</div>

