<div class="row col-lg-12 col-md-12 col-sm-12">

    <div class="header col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

        <nav class="navbar navbar-default navbar-xs navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>Room Utilization</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/docs/user">User Documentation</a></li>
                            <li class="divider"></li>
                            <li><a href="#/docs/developer">Developer Documentation</a></li>
                            <li><a href="http://www.aais.com/Help/75/index.html?astra_schedule_api.htm" target="_blank">Ad Astra API Reference</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#developerContactModal" target="_top">Developer Contact</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#stakeholderContactModal" target="_top">Stakeholder Contact</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div class="col-lg-3"><img class="img-responsive" src="images/logo.png" alt="logo.png"/></div>
    </div>

    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
        <div markdown link="USER.md"></div>
    </div>

</div>

<div id="developerContactModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Developer Contact</h4>
            </div>
            <div class="modal-body center-text">
                <p><strong>Cameron Chapman</strong></p>
                <ul>
                    <li><a href="mailto:cameron.c.chapman@gmail.com" target="_top"><span class="glyphicon glyphicon-envelope"></span> cameron.c.chapman@gmail.com</a></li>
                    <li><a href="http://www.linkedin.com/pub/cameron-chapman/38/9aa/748/" target="_blank">LinkedIn</a></li>
                </ul>
                <p><strong>Andrew Megaris</strong></p>
                <ul>
                    <li><a href="mailto:highonbikes@gmail.com" target="_top"><span class="glyphicon glyphicon-envelope"></span> highonbikes@gmail.com</a></li>
                    <li><a href="http://www.linkedin.com/pub/andrew-megaris/52/35a/955" target="_blank">LinkedIn</a></li>
                </ul>
                <p><strong>Michael Hastings</strong></p>
                <ul>
                    <li><a href="mailto:mhastin1@gmail.com" target="_top"><span class="glyphicon glyphicon-envelope"></span> mhastin1@gmail.com</a></li>
                    <li><a href="www.linkedin.com/pub/michael-hastings/83/668/783" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
            <div class="modal-footer"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div id="stakeholderContactModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Stakeholder Contact</h4>
            </div>
            <div class="modal-body center-text">
                <p><strong>Ryan Wing ~ Sr. Sustain Data/Resch Analyst</strong></p>
                <ul>
                    <li><a href="mailto:rwing@jccc.edu" target="_top"><span class="glyphicon glyphicon-envelope"></span> rwing@jccc.edu</a></li>
                </ul>
                <p><strong>Michael Rea ~ Sustainability Project Manager</strong></p>
                <ul>
                    <li><a href="mailto:mrea@jccc.edu" target="_top"><span class="glyphicon glyphicon-envelope"></span> mrea@jccc.edu</a></li>
                </ul>
                <p><strong>Lin Knudson ~ Dean, Academic Support</strong></p>
                <ul>
                    <li><a href="mailto:lknudson@jccc.edu" target="_top"><span class="glyphicon glyphicon-envelope"></span> lknudson@jccc.edu</a></li>
                </ul>
            </div>
            <div class="modal-footer"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->